.card__title {
  max-width: 357px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.card {
  font-family:
    Poppins Arial,
    Helvetica,
    sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: zoom-in;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

.card__like-btn {
  background-image: url("../images/Union.svg");
  width: 23px;
  background-repeat: no-repeat;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/State-trash-bin_norm.svg);
  background-color: transparent;
  border-style: none;
}

.card__delete-btn:hover {
  background-image: url(../images/State-trash-bin_hover.svg);
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/State-like-btn-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url(../images/State=like-btn-hover.svg);
  opacity: 0.4;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
